@model IEnumerable<community_house.Models.House>

@{
    ViewBag.Title = "All Houses";
}

<h2>All Houses</h2>

<div class="row">
    <div class="col-sm-6">
        <table class="table">
            <tr>
                <th>
                    Image
                </th>
                <th>
                    @Html.ActionLink("City", "Index", new { sortOrder = "city" + ViewData["city"] })
                </th>
                <th>                    
                    @Html.ActionLink("Area", "Index", new { sortOrder = "area" + ViewData["area"] })
                </th>
                <th>
                    @Html.ActionLink("Price", "Index", new { sortOrder = "price" + ViewData["price"] })
                </th>
                <th>
                    @Html.ActionLink("Email", "Index", new { sortOrder = "email" + ViewData["email"] })
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Public/Images/@item.Pictures.FirstOrDefault().FileName" width="100" height="100" alt="Alternate Text" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)$
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>